# Base configuration
PUID=<your_PUID>
PGID=<your_PGID>
TZ=<your_timezone>
MEDIA_DIRECTORY=<media_directory>
INSTALL_DIRECTORY=<install_directory>

# VPN configuration
VPN_SERVICE=vpn_service
VPN_TYPE=openvpn

# openvpn specific settings
VPN_USER=vpn_user
VPN_PASSWORD=vpn_password

# WireGuard specific settings
#WIREGUARD_PRIVATE_KEY=wireguard_private_key
#WIREGUARD_PRESHARED_KEY=wireguard_preshared_key
#WIREGUARD_ADDRESSES=wireguard_addresses

# service secrets (remember to uncomment when using them!)
#QBITTORRENT_API_KEY=qbt_your_api_key
